################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PhoneNumberBuilder/.vs/PhoneNumberBuilder/v14/.suo
/PhoneNumberBuilder/PhoneNumberBuilder/bin/Debug
/PhoneNumberBuilder/PhoneNumberBuilder/obj/Debug
/PhoneNumberBuilder/PhoneNumberBuilder/PhoneNumberBuilder.csproj.user
